<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <connectionStrings>
    <!-- test -->
    <!--<add name="Connection" connectionString="Data Source=192.168.30.187;Initial Catalog=DTrmsdb;uid=cctv;pwd=123456;Max Pool Size=512" providerName="System.Data.SqlClient" />-->
    <!-- official -->
    <!--<add name="Connection" connectionString="Data Source=huadong.rdss3o4wltkg90l.rds.bj.baidubce.com;Initial Catalog=cannyrms;uid=dt;pwd=dt_123;Max Pool Size=512" providerName="System.Data.SqlClient" />-->
    <!--<add name="Connection" connectionString="Data Source=huadong.rdss3o4wltkg90l.rds.bj.baidubce.com;Initial Catalog=cannyrms;uid=dt;pwd=dt_123;Max Pool Size=512" providerName="System.Data.SqlClient" />-->
    <!--<add name="Connection" connectionString="Data Source=10.0.0.153;Initial Catalog=DTrmsdb;uid=sa;pwd=!@#$a123.456;Max Pool Size=512" providerName="System.Data.SqlClient" />-->    
    <!-- 华东 -->
    <add name="Connection" connectionString="Data Source=huazhong2.rdssdws3yqygr31.rds.bj.baidubce.com;Initial Catalog=cannyrms;uid=dt_ro;pwd=dt_ro123;Max Pool Size=512" providerName="System.Data.SqlClient"  />
  </connectionStrings>

   <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
  </appSettings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>