<!--log4net配置文件-->
<log4net>
  <root>
    <!--FATAL（致命错误）、ERROR（一般错误）、WARN（警告）、INFO（一般信息）、DEBUG（调试信息）、ALL（所有信息）-->
    <level value="ALL" />
    <appender-ref ref="Console" />
    <appender-ref ref="ServerInfoAppender" />
    <appender-ref ref="ServerErrorAppender" />
  </root>
  
  <appender name="Console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>

  <!--Info事件日志配置-->
  <appender name="ServerInfoAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="loggs\\server\\debug\\"/>
    <param name="AppendToFile" value="true"/>
    <param name="MaxSizeRollBackups" value="500"/>
    <param name="MaxFileSize" value="500"/>
    <param name="StaticLogFileName" value="false"/>
    <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
    <param name="RollingStyle" value="Date"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="时间：%d [%t] %n%级别：%-5p %n位置：%f:%l %n信息：%m %n %n"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG"/>
      <param name="LevelMax" value="WARN"/>
    </filter>
  </appender>
  
  <!--Error事件日志配置-->
  <appender name="ServerErrorAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="loggs\\server\\error\\"/>
    <param name="AppendToFile" value="true"/>
    <param name="MaxSizeRollBackups" value="500"/>
    <param name="MaxFileSize" value="500"/>
    <param name="StaticLogFileName" value="false"/>
    <param name="DatePattern" value="yyyyMMdd_HH&quot;.log&quot;"/>
    <param name="RollingStyle" value="Date"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="时间：%d [%t] %n%级别：%-5p %n位置：%f:%l %n信息：%m %n %n"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="ERROR"/>
      <param name="LevelMax" value="FATAL"/>
    </filter>
  </appender>  
  
</log4net>
